<div  class="content-wrapper">
  <div [formGroup]="pageData.formGroup">
    <div class="card mt-4">
      <h2 class="card-header">Daily Sheet</h2>
      <div class="card-body">

        <h5>Date</h5>
        <div class="row page-row align-items-start">
          <div class="col-2">
            <div class="input-group" >
              <input matInput [matDatepicker]="dateDP" class="form-control"
                      formControlName="selectedDate" (dateChange)="validateDate()"  placeholder="DD/MM/YYYY">
              <mat-datepicker-toggle [for]="dateDP"></mat-datepicker-toggle>
              <mat-datepicker  #dateDP></mat-datepicker>
            </div>
          </div>
        </div>



<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                aria-controls="collapseOne">
          Return details:
        </button>
        Count : {{this.returnData.count}} &nbsp;|
        &nbsp;Total Amount : {{this.returnData.totalAmount}}&nbsp;|
        &nbsp;Total Interest : {{this.returnData.totalInterest}}

      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div *ngIf="returnDataSource.data.length > 0" >
          <mat-table [dataSource]="returnDataSource" matSort >
            <ng-container matColumnDef="loanNo">
              <mat-header-cell class="table-header"  *matHeaderCellDef mat-sort-header>Loan No </mat-header-cell>
              <mat-cell class="hyper-link"  *matCellDef="let data">  {{data.loanNo}}  </mat-cell>
            </ng-container>
            <ng-container matColumnDef="amount">
              <mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
              <mat-cell *matCellDef="let data"> {{data.amount}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="interest">
              <mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header>Interest</mat-header-cell>
              <mat-cell *matCellDef="let data"> {{data.interest}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="returnColumns"></mat-header-row>
            <mat-row  *matRowDef="let row; columns: returnColumns;"></mat-row >
          </mat-table>

          <mat-paginator  #paginator
                          [pageSize]="10"
                          [pageSizeOptions]="[10, 30, 50]"
                          [showFirstLastButtons]="true">
          </mat-paginator>
        </div>


        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Loan details
        </button>

        Count : {{this.loanData.count}} &nbsp;|
        &nbsp;Total Amount : {{this.loanData.totalAmount}}&nbsp;|
        &nbsp;Total Interest : {{this.loanData.totalInterest}}&nbsp;|
        &nbsp;Total Appraiser Fee : {{this.loanData.totalAppraiserFee}}

      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <div *ngIf="loanDataSource.data.length > 0" >
          <mat-table [dataSource]="loanDataSource" matSort >
            <ng-container matColumnDef="loanNo">
              <mat-header-cell class="table-header"  *matHeaderCellDef mat-sort-header>Loan No </mat-header-cell>
              <mat-cell class="hyper-link"  *matCellDef="let data">  {{data.loanNo}}  </mat-cell>
            </ng-container>
            <ng-container matColumnDef="amount">
              <mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
              <mat-cell *matCellDef="let data"> {{data.amount}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="interest">
              <mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header>Interest</mat-header-cell>
              <mat-cell *matCellDef="let data"> {{data.interest}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="appraiserFee">
              <mat-header-cell class="table-header" *matHeaderCellDef mat-sort-header>Appraiser Fee</mat-header-cell>
              <mat-cell *matCellDef="let data"> {{data.appraiserFee}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="loanColumns"></mat-header-row>
            <mat-row  *matRowDef="let row; columns: loanColumns;"></mat-row >
          </mat-table>

          <mat-paginator  #paginator
                          [pageSize]="10"
                          [pageSizeOptions]="[10, 30, 50]"
                          [showFirstLastButtons]="true">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>

</div>


      </div>
    </div>
  </div>
</div>
