$butterfly-bush: #6f5091;
$rum: #79668f;
$lavender-purple: #937cad;
$affair: #8e4ea6;
$azure: #326295;
$cararra: #f0efec;

$action: $azure;
$primary: $azure;
$secondary: $cararra;
$accent: $affair;

// $small: 320px;
// $medium: 650px;
// $large: 1024px;

//bootstrap breakpoints for reference
// xs max-width: 576px
// sm max-width: 768px
// md max-width: 992px
// lg max-width: 1200px
