

  <div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">New Loan</div>
        <div class="panel-body"><img src="../../assets/loanImage1.jpg" class="img-responsive" style="width:100%" alt="Image" (click)="newLoan()">
        </div>

      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">Return Loan</div>
        <div class="panel-body"><img src="../../assets/return1.jpg" class="img-responsive" style="width:100%" alt="Image" (click)="returnLoan()"></div>

      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">Renewal</div>
        <div class="panel-body"><img src="../../assets/renew.jpg" class="img-responsive" style="width:100%" alt="Image"></div>

      </div>
    </div>
  </div>
  </div>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">Daily Sheet</div>
        <div class="panel-body"><img src="../../assets/dailySheet.jpg" class="img-responsive" style="width:100%" alt="Image" (click)="dailySheet()"></div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">Search</div>
        <div class="panel-body"><img src="../../assets/search1.jpg" class="img-responsive" style="width:100%" alt="Image" (click)="search()"></div>

      </div>
    </div>
  </div>
</div><br><br>

